<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oracle.mau">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>


    <!--用于mqtt手机震动-->
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".application.MaUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <!--裁剪界面-->
        <activity
            android:name=".main.camera.activity.CropActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!--编辑页面-->
        <activity android:name=".main.camera.activity.EditPicActivity" />
        <!--发布Article页面-->
        <activity android:name=".main.camera.activity.ReleaseArticleActivity" />

        <!--短信认证页面-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".main.camera.activity.AddLocationActivity" />
        <activity android:name=".main.camera.activity.AddArticleActivity" />
        <activity android:name=".main.camera.activity.AddLabelActivity" />

        <!--首页添加关注页面-->
        <activity android:name=".main.home.activity.HomeAddAttentionActivity" />
        <activity android:name=".main.label.activity.RecommendDetailActivity" />
        <activity android:name=".main.label.activity.ArticleDetailActivity">

        </activity>
        <!--百度地图-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="z5rGC2iOOeft6amq5E9WzLaCHImy7MKT" />
        <!--消息界面-->
        <service
            android:name=".main.message.mqtt.PushService"
            android:enabled="true"
            android:process=":remote"></service>
        <service
            android:name=".main.message.mqtt.PushService2"
            android:enabled="true"
            android:process=":remote"></service>

        <activity android:name=".main.message.mqtt.PushActivity" />
        <activity android:name=".main.message.mqtt.ChatActivity" />
        <!--登录注册界面-->
        <activity android:name=".main.loginAndregister.FirstActivity">

        </activity>
        <activity android:name=".main.loginAndregister.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.loginAndregister.RegisterActivity" />
        <activity android:name=".main.loginAndregister.ConfirmationActivity" />
        <activity android:name=".main.loginAndregister.UserInfoActivity" >

            </activity>
        <activity android:name=".main.account.activity.AccountDetailActivity" />
        <!--用户界面-->
        <activity android:name=".main.account.activity.AboutUs" />
               <!--专题详情-->
        <activity android:name=".main.message.activity.SpecialDetailActivity" />

        <!--关注的用户-->
        <activity android:name=".main.account.activity.AttentionPeople" />
        <!--反馈信息-->
        <activity android:name=".main.account.activity.BackInfo" />

    </application>

</manifest>